.about {
    height: 100vh;
    background-image: url(../../images/background1.jpeg);
    background-size: cover;
    background-position: center;
    animation: moveBackground 30s infinite ease-in-out;
  }
  
  @keyframes moveBackground {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 0;
    }
  }