.contact {
    height: 80vh;
    .background {
        .content-image {
            max-width: 250px;
        }
    }
}

.contact-content {
    text-align: center;
    .contact-text a {
        color: $tertiary;
        &:hover {
            color: $primary;
        }
    }
}
  
.btn-primary {
    @include buttons;
    &:hover {
        box-shadow: $shadow;
    }
    &.copied {
        animation: pulse 1.5s infinite;
    }
}
  
@media (min-width: 475px) {
    .contact {
        height: 100vh;
        .background {
            .content-image {
                max-width: 300px;
            }
        }
    }
}

@media (min-width: 700px) {
    .contact-content {
        h2 {
            margin-bottom: 3rem;
        }
        p {
            margin-bottom: 2.5rem;
        }
    }
}    
  
@media (min-width: 1200px) {
    .contact {
        .background {
            top: 50%;
            .content-image {
                max-width: 550px;
            }
        }
    }
    .contact-content {
        padding-top: 6rem;
    }
}