.main-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 100;
    animation: fadeIn 2s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 5.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    li {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-decoration: none;
        background-color: #fff;
        border-radius: 5px 5px 0 0;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
        transition: background-color 0.3s ease;
        transition: transform 0.2s ease;

        &:hover, :focus {
            transform: translateY(2px);
        }

        &.active {
            background-color: #e0e0e0;
            transform: translateY(2px);
            height: 100%;
        }

        a {
            font-size: 1.1rem;
            color: black;
            width: 100%;
            height: 100%;
        }
    }
}

.menu-icon {
    display: block;
    height: 41px;
    margin: 0.7rem auto 0;
}

@media (min-width: 1100px) {
    
    .main-nav {
        position: fixed;
        top: 30%;
        bottom: initial;
        left: initial;
        right: initial;
        width: 33.3%;
    }

    .nav-menu {
        display: block;

        li {
            height: auto;
            width: auto;
            box-shadow: none;

            &:hover, :focus {
                transform: translateY(0);
            }

            a {
                font-size: 2rem;
                padding: 2rem 0;
                transition: color 0.3s ease;
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 1rem;
                width: 100%;
                height: 2px;
                background-color: black;
                transform: scaleX(0);
                transform-origin: left;
                transition: transform 0.2s ease;
            }

            &:hover::after {
                transform: scaleX(1);
            }

            &.active {
                background-color: transparent;
                height: auto;
                transform: translateY(0);
                a {
                    color: #5877FF;
                }
                &::after {
                    transform: scaleX(1);
                }
            }
        }
    }

    .menu-icon {
        margin: 0;
        display: none;
    }
}