.project {
    width: 100%;
    .featured_image {
        width: 100%;
        margin: 0;
    }
}

@media (min-width: 700px) {
    .projects_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        width: 100%;
    }
    
    .posts-navigation {
        a {
            color: #000;
        }
        .active {
            color: #5877FF;
        }
    }
    
    .p12 {
        grid-column: 1;
        grid-row: 1;
    }
    
    .p14 {
        grid-row: 1;
    }
    
    .p16 {
        grid-column: 1;
        grid-row: 2;
    }
}
