.projects {
    height: 100vh;
}

.projects_content {
    text-align: center;
}

.project {
    max-width: 35rem;
    margin: 0 auto;
    .featured_image {
        width: 100%;
        margin: 0;
    }
}

//custom carousel styles
.carousel-root {
    max-width: 35rem;
    margin: 0 auto;
    margin-top: 3rem;
    .carousel.carousel-slider {
        overflow: initial;
        .carousel-status {
            color: var(--color-primary);
            right: 0.8rem;
        }
        .control-dots {
            bottom: initial;
            top: -2.8rem;
            .dot {
                background: var(--color-primary);
                width: 20%;
                height: 0.1rem;
                margin: 0 0.2rem;
                border-radius: 0;
                transition: height 0.15s ease;
                &.selected {
                    height: 0.3rem;
                }
            }
        }
        .control-prev.control-arrow {
            padding-left: 0.8rem;
            &:before {
                border-right: 1rem solid var(--color-primary);
            }
        }
        .control-next.control-arrow {
            padding-right: 0.8rem;
            &:before {
                border-left: 1rem solid var(--color-primary);
            }
        }
    }
}

@media (min-width: 600px) {
    .project {
        .project_info {
            h3 {
                font-size: 1.5rem;
            }
            p {
                font-size: 1.1rem;
            }
        }
    }
}

@media (min-width: 1200px) {
    .projects {
        height: 100vh;
    }

    .projects_content {
        h2 {
            margin-bottom: 3rem;
        }
        p {
            margin-bottom: 2.5rem;
        }
    }
    
    .projects_grid {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        width: 100%;
    }

    .project {
        max-width: 95%;
        position: relative;
        .project_info{
            padding: 2rem 0.5rem 0;
            position: absolute;
            top: 0.25rem;
            left: 0.5rem;
            right: 0.5rem;
            height: 69%;
            background-color: rgba(0, 0, 0, 0.85);
            color: #fff;
            text-align: center;
            display: none;
            animation: fadeIn 0.2s ease-in-out;

            h3 {
                font-size: 1.2rem;
            }
            p {
                font-size: 1rem;
            }
        }
        &:hover {
            .project_info {
                display: block;
            }
        }
    }
    
    .posts-navigation {
        a {
            color: #000;
        }
        .active {
            color: #5877FF;
        }
    }
    
    .p12 {
        grid-column: 1;
        grid-row: 1;
    }
    
    .p14 {
        grid-row: 1;
    }
    
    .p16 {
        grid-column: 1;
        grid-row: 2;
    }
}

@media (min-width: 1325px) {
    .project {
        max-width: 447px;
        .project_info {
            padding-top: 3rem;
        }
    }
}

@media (min-width: 1450px) {
    .project {
        .project_info {
            padding-top: 4rem;
        }
    }
}