.projects {
    height: 92vh;
}

.project {
    max-width: 35rem;
    margin: 0 auto;
    .featured_image {
        width: 100%;
        margin: 0;
    }
}

@media (min-width: 1200px) {
    .projects {
        height: 92vh;
    }
    
    .projects_grid {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        width: 100%;
    }

    .project {
        max-width: 95%;
        position: relative;
        .project_info{
            position: absolute;
            top: 0;
            background-color: rgba(0, 0, 0, 0.8);
            color: #fff;
            text-align: center;
        }
    }
    
    .posts-navigation {
        a {
            color: #000;
        }
        .active {
            color: #5877FF;
        }
    }
    
    .p12 {
        grid-column: 1;
        grid-row: 1;
    }
    
    .p14 {
        grid-row: 1;
    }
    
    .p16 {
        grid-column: 1;
        grid-row: 2;
    }
}

@media (min-width: 1350px) {
    .project {
        max-width: 400px;
    }
}