//content-wrapper animation
.content-wrapper {
    animation: fadeInProject 1s ease-in-out;
}

// back to home button
.home-btn {
    svg {
        max-width: 3rem;
        transition: transform 0.2s ease-in-out;
        .st0 {
            fill: $tertiary;
        }
        &:hover {
            transform: scale(1.15);
            .st0 {
                fill: $primary;
            }
        }
    }
}

// page content
.single-project {
    padding: 2rem 1.5rem 3rem;
    grid-column: 1 / 3;
    position: relative;
    a {
        color: $tertiary;
    }
}

.content-wrapper {
    margin-top: 2.5rem;
}

#tic-tac-toe-game {
    display: flex;
    flex-wrap: wrap;
    height: 26rem;
}

#capstone-project12 {
    padding-bottom: 2.8rem;
}

.project-content {
    h1 {
        text-align: center;
    }
}

.project-caption {
    p {
        text-align: center;
        margin: 0 0 3rem;
    }
}

.project-tools {
    margin-bottom: 3rem;
    h2 {
        margin-bottom: 1rem;
    }
    ul {
        @include flex-space-between;
        margin: 0 auto;
        max-width: fit-content;
        padding: 0;
        list-style: none;
        li {
            margin: 0.1rem;
            padding: 0.5rem 1rem;
            border-radius: 0.5rem;
            background-color: $tertiary;
            color: $secondary;
            font-size: 0.8rem;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            transition: transform 0.2s ease-in-out;
        }
    }
}

.project-overview {
    margin-bottom: 3rem;
    div {
        p {
            margin: 1rem 0 2rem;
        }
    }
}

.project-planning {
    margin-bottom: 3rem;
    a {
        text-decoration: underline;
        color: $quinary;
        &:hover {
            color: $primary;
        }
    }
}

.project-functionality {
    margin-bottom: 3rem;
    div {
        margin-bottom: 2.5rem;
    }
    h2 {
        margin-bottom: 1rem;
    }
    p {
        margin-bottom: 2rem;
    }
    .inline-link {
        text-decoration: underline;
        color: $quinary;
        &:hover {
            color: $primary;
        }
    }
    .github-link {
        @include buttons;
        &:hover {
            box-shadow: $shadow;
        }
        svg {
            position: relative;
            top: 0.3rem;
            margin-left: 0.5rem;
            width: 1.5rem;
            height: 1.5rem;
            .st0 {
                fill: $secondary;
            }
        }
    }
}

.project-links {
    margin-bottom: 4rem;
    p {
        margin-bottom: 2rem;
    }
    a {
        @include buttons;
        margin: 0 1.41rem;
        margin-left: 0;
        &:hover {
            box-shadow: $shadow;
        }
        svg {
            position: relative;
            top: 0.3rem;
            margin-left: 0.5rem;
            width: 1.5rem;
            height: 1.5rem;
            .st0 {
                fill: $secondary;
            }
        }
    }
}

.image-collage {
    max-width: 378px;
    position: relative;
    margin: 0 auto 0.5rem;
    height: 30rem;
    figure {
        position: absolute;
        margin: 0;
        max-width: 200px;
        z-index: 0;
        overflow: hidden;
        transition: transform 0.3s ease-in-out;
        &:hover {
            z-index: 2;
            transform: scale(1.15);
        }
    }
    :first-child {
        top: 2rem;
        right: 0;
    }
    :nth-child(2) {
        top: 6rem;
        left: 0;
    }
    :last-child {
        max-width: 100%;
        bottom: 0;
        z-index: 1;
    }
    .desktop-tic-tac-toe {
        @include flex-center;
        max-width: 100%;
        right: 0;
        left: 0;
        img {
            max-width: 272px;
        }
    }
    .laptop-tic-tac-toe {
        @include flex-center;
        top: 16rem;
        right: 0;
        left: 0;
        img {
            max-width: 272px;
        }
    }
}

// media queries
@media (min-width: 700px) {
    #tic-tac-toe-game {
        height: 18rem;
    }
    .project-content {
        h1 {
            font-size: 3rem;
        }
    }
    .image-collage {
        max-width: 550px;
        height: 35rem;
        figure {
            max-width: 225px;
        }
        :first-child {
            top: 2rem;
            right: 0;
        }
        :nth-child(2) {
            top: 6rem;
            left: 0;
        }
        :last-child {
            max-width: 100%;
            bottom: 0;
            z-index: 1;
        }
        .laptop-tic-tac-toe {
            display: inline-block;
            max-width: 272px;
            grid-column: 2;
            left: initial;
            top: 2rem;
        }
        .desktop-tic-tac-toe {
            display: inline-block;
            max-width: 272px;
        }
    }
}

@media (min-width: 900px) {
    .home-btn {
        margin-left: 2rem;
    }
}

@media (min-width: 1150px) {
    #tic-tac-toe-game {
        max-width: 850px;
        height: 23rem;
        margin-bottom: 3rem;
        .laptop-tic-tac-toe {
            display: inline-block;
            max-width: 420px;
            grid-column: 2;
            left: initial;
            top: 2rem;
            img {
                max-width: 420px;
            }
        }
        .desktop-tic-tac-toe {
            display: inline-block;
            max-width: 420px;
            img {
                max-width: 420px;
            }
        }
    }
    .home-btn {
        width: 3.5rem;
        margin-left: 0;
        svg {
            max-width: 3.5rem;
        }
    }
    .content-wrapper {
        display: grid;
        grid-template-columns: 1fr 1000px 1fr;
        .project-content {
            grid-column: 2;
        }
        .prev-next {
            grid-column: 1 / 3;
        }
    }
    .project-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 4rem;
        h1 {
            grid-column: 1 / 3;
        }
        .image-collage {
            grid-column: 1 / 3;
        }
        .project-caption {
            grid-column: 1 / 3;
        }
        .project-tools {
            grid-column: 1 / 3;
            margin-bottom: 0;
        }
        .project-overview, .project-planning {
            margin-bottom: 0;
            div:last-child {
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
    .image-collage {
        width: 550px;
    }
    #tic-tac-toe-game {
        width: 100%;
    }
}

@media (min-width: 1500px) {
    .content-wrapper {
        grid-template-columns: 1fr 1250px 1fr;
    }
}